<!DOCTYPE html>
<html>
<head>
  <meta name="place" content="<%= conf['place']%>">
  <meta name="date" content="<%= conf['date']%>">
  <title><%= conf['subject']%></title>
  <style type="text/css">
  body, html {
    background-color: white;
    font-size: 110%;
    font-family: "Candara", "Lucida Grande", "Helvetica Neue", sans-serif;
  }
  a {
    color: #0af;
    text-decoration: none;
  }
  h1 {
    font-family: fantasy;
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0.1em 0.3em rgba(0, 0, 0, 0.5);
  }
  h2 {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  h3 {
    color: rgb(255, 245, 125);
  }
  .main {
   margin: 30px auto 70px auto;
   width: 767px;
   background-color: #600d21;
   background: -webkit-linear-gradient(#600d21 0%, #600d21 30%, #320712 100%);
   box-shadow: 0px 20px 50px #333;
   border: 20px solid white;
   color: #eee;
 }
 .poster {
   width: 100%;
 }
 .intro {
   padding: 30px;
 }
 .enrollments {
   padding: 30px;
 }
 .enrollments {
 }
 .attendee {
   display: inline-block;
   background-color: white;
   padding: 15px;
   border-radius: 5px;
   box-shadow: 0px 1px 0px black;
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   margin: 20px 10px;
 }
 .details, .avatar {
   display: inline-block;
   margin: 0;
 }
 .details {
   list-style: none;
   color: #666;
   line-height: 20px;
   font-size: 12px;
 }
 .details li {
   list-style: none;
 }
 .avatar img {
   border-radius: 40px;
 }
 .cal {
   border: 1px solid #ccc;
   border-top: 3px solid #ae2222;
   display: inline-block;
   margin-right: 5px;
   padding: 1px;
 }
 .skill {
   display: inline-block;
   background-color: #2061ac;
   color: white;
   padding: 3px;
   border-radius: 3px;
   margin-right: 3px;
 }
 .loading {
   display: block;
   width: 100%;
   padding: 10px 0;
   background-color: white;
 }
 .loading img {
   display: block;
   margin: 10px auto;
   width: auto;
 }
 #map_canvas {
   border: 10px solid white;
   margin: 30px;
   width: auto;
   height: 500px;
 }
 </style>

 <script src="https://maps.google.com/maps/api/js?key=AIzaSyBdmKUGYS9XHMyjAx7A8Tfa75Er-vFnN0s&sensor=true"></script>
 <script>
 function initialize() {
  if (document.getElementById("map_canvas")) {
    var point = new google.maps.LatLng(<%= conf['latitude']%>, <%= conf['longitude']%>),
      //Settings for the map
      myOptions = {
        zoom: 15,
        center: point,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },

        //Finding the div we want the map to be in
        mapCanvas = document.getElementById("map_canvas"),
        //Pass in the div and map settings to the map
        map = new google.maps.Map(mapCanvas, myOptions),

        //
        marker = new google.maps.Marker({
          position: point,
          map: map,
          title: "Drinkup here!"
        });
      }
    }
    </script>

  </head>
  <body onload="initialize()">
    <div class="main">
      <header><img class="poster" src="drinkup_em.svg" /></header>
      <section class="intro">
        <%= render_partial env, 'Intro' %>
      </section>

      <header><h1>Location</h1></section>
        <section class="location">
          <div id="map_canvas"></div>
        </section>

        <header><h1>Enrollments</h1></header>
        <section class="enrollments">
          <div id="loader" class="loading"><img src="loader.gif"/></div>
        </section>
      </div>
    </body>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/attendee.js"></script>
    </html>
